fastapi
uvicorn
streamlit
chromadb
langchain
langgraph
langchain-huggingface
openai
pymongo
pypdf
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu
python-dotenv
python-jose
python-multipart
requests
scikit-learn
transformers
langchain-text-splitters